
.nav-link:hover,.actives{
    border-bottom: 3px solid;
    color: chocolate !important;
    
}
.navbar-right{
    display: flex;
    align-items: center;
    border-radius: 8px;
}
.Modal-Titre {
    border-radius: 0px;
}

